@font-face {
  font-family: Trajan;
  src: url('./Trajan Pro Regular.ttf');
}

// TODO Ver se vai usar ainda
// @font-face {
//   font-family: Trajan-Bold;
//   src: url('./Trajan Pro Bold.ttf');
// }

@font-face {
  font-family: GameOfThrones;
  src: url('./GameOfThrones.ttf');
}

$boxBackgroundColor = #000;
$themeDarkColor = #eab261;
$themeLightColor = lighten($themeDarkColor, 60%);
$darkTextColor = #e6d5a1;
$boxBorderColor = $buttonTextColor;
$linkTextColor = #b16919;
$white = white;
$black = black;

body {
  display: initial;
  color: $white;

  &.default-background {
    background-color: $black;
  }
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

logoFontStyle() {
  text-align: center;
  letter-spacing: 6px;
  font-family: GameOfThrones;
}

fontSizeResponsive() {
  font-size: 18px;

  @media $tablet {
    font-size: 20px;
  }
}

$defaultFontFamily = 'Times New Roman';
$themeFontFamily = Trajan, 'Times New Roman';
$defaultParagraphPadding = 20px;
$defaultParagraphPaddingMobile = 15px;

defaultFontStyle() {
  font-size: 16px;
  font-family: $defaultFontFamily;
}

themeFontStyle() {
  font-size: 16px;
  font-family: $themeFontFamily;
}

openingFontStyle() {
  themeFontStyle();
  // letter-spacing: .3em;
}

textOutline() {
  $spread = 16px;
  text-shadow: -1px -1px $spread $boxBackgroundColor, 1px -1px $spread $boxBackgroundColor, -1px 1px $spread $boxBackgroundColor, 1px 1px $spread $boxBackgroundColor;
}

// media query
$tablet = 'only screen and (min-device-width : 768px)';

.link {
  color: $linkTextColor;
  font-weight: bold;
  transition: color 200ms;

  &:hover {
    color: $white;
  }
}

p {
  margin: .5em 0;

  a {
    color: $white;
  }
}

.title {
  logoFontStyle();
  color: $darkTextColor;
}

@import './scrollbar';
@import './videoPage';
@import './pageContainer';
@import './openingForm';
@import './loadingLayer';
@import './afterVideoCard';
@import './downloadPage';
@import './navbar';
@import './sweetalert';
@import './playVideoButton';
@import './embeddedVideo';
@import './loader';
@import './checkForDonation';
