$loaderBorderColor= $themeDarkColor;
$loaderColor = alpha($darkTextColor, .2);
$loaderSize = 70px;
$loaderSizeButton = 25px;

.loader {
  margin: 50px;
  width: $loaderSize;
  height: $loaderSize;
  border: 5px solid $loaderColor;
  border-top-color: $loaderBorderColor;
  border-radius: 50%;
  animation: rotateLoading infinite 1s linear;
}

@keyframes rotateLoading
{
  0 {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button.has-loader {
  display: flex;
  justify-content: center;
  transition: color 500ms;

  .loader {
    position: absolute;
    margin: 4px;
    width: $loaderSizeButton;
    height: $loaderSizeButton;
    border-width: 3px;
    opacity: 0;
    transition: opacity  500ms;
  }

  &.loading {
    color: transparent;
    pointer-events: none;
    user-select: none;

    .loader {
      $loader-color = $darkTextColor;
      border-top-color: alpha(#000, .5);
      border-right-color: $loader-color;
      border-bottom-color: $loader-color;
      border-left-color: $loader-color;
      opacity: 1;
    }
  }
}
