$inputBorderColor = #88632d;
$inputBorderColorHover = #ce8c2c;
$inputBorderColorFocus = lighten($inputBorderColorHover, 20%);
$formBackgroundColor = $boxBackgroundColor;

$buttonTextColor = $boxBackgroundColor;
$buttonColor = $themeDarkColor;
$buttonHoverColor = $themeLightColor;
$buttonTextHoverColor = #6d4100;

formBoderStyle() {
  $inputBorder = 3px solid $inputBorderColor;

  outline: 0;
  border: $inputBorder;
  border-radius: 3px;
  box-shadow: 0 0 20px $formBackgroundColor;
  transition: border-color, box-shadow .3s ease-out;

  &:hover, &.hover {
    border-color: $inputBorderColorHover;
    box-shadow: 0 0 20px $inputBorderColorHover;
  }

  &:active, &:focus, &.focus {
    border-color: $inputBorderColorFocus;
    box-shadow: 0 0 20px $inputBorderColorFocus;
  }
}

inputStyle() {
  background-color: $formBackgroundColor;
  text-align: center;

  padding-top: 6px;
  formBoderStyle()
  openingFontStyle();
  font-size: 20px;

  @media $tablet {
    padding: 6px 4px 4px;
  }
}

#opening-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-inputs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    textarea {
      inputStyle();

      overflow-x: hidden;
      margin-top: 2px;
      width: 95vw;
      color: $darkTextColor;
      word-break: break-word;
      resize: none;

      @media $tablet {
        flex-basis: 30%;
        margin: 8px 5px 0;
        min-width: 300px;
        max-width: 500px;
      }
    }

    #input-text26 {
      logoFontStyle();
      padding: 15px 0;
      font-weight: bold;
      font-size: 1.5em;

      @media $tablet {
        padding-top: 15px;
      }
    }
  }

  @media $tablet {
    width: 90vw;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    @media $tablet {
      display: block;
    }

    button {
      &:not(:first-child) {
        margin-top: 15px;

        @media $tablet {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }
}

.info-box {
  defaultFontStyle();
  fontSizeResponsive();

  padding: 7px 7px 4px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
  color: $darkTextColor;
  text-align: center;

  max-width: 90%;
}

.button {
  themeFontStyle();
  fontSizeResponsive();
  padding: 16px 15px 8px;
  border: 3px solid $buttonTextColor;
  border-radius: 3px;
  background-color: $buttonColor;
  color: $buttonTextColor;
  cursor: pointer;
  transition: border-color, background-color, box-shadow .3s;


  &:hover {
    border-color: $buttonTextHoverColor;
    background-color: $buttonHoverColor;
    color: $buttonTextHoverColor;
    box-shadow: 0 0 60px $darkTextColor;
  }

  &.big {
    font-size: 2em;
    min-width: 260px;

    @media $tablet {
      font-size: 3em;
    }
  }

  &.medium {
    font-size: 1.5em;

    @media $tablet {
      font-size: 2em;
    }
  }

  &.small-medium {
    font-size: 1.2em;

    @media $tablet {
      font-size: 1.5em;
    }
  }
}

.logo-preview-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  min-height: 63px;
  background-color: alpha($formBackgroundColor,.8);
  user-select: none;
  text-align: center;
  white-space: pre-line;
  cursor: not-allowed;

  formBoderStyle()
  logoGlowStyle()
}

.logo-form {
  align-items: center;
  padding: 15px 0;

  .right-arrow{
    font-size: 30px;
    logoFontStyle();
    logoGlowStyle();
  }
}

.logo-preview-tooltip {
  color: $darkTextColor !important;
  font-size: 20px;
}