$errorRed = #ab0000;
$warningYellow = #d0ad3e;

.swal2-popup.kassel-app-sweetalert {
    box-shadow: 0 0 60px $darkTextColor;
  border: 2px solid $boxBorderColor;
  background-color: $boxBackgroundColor;

  .swal2-title {
      @extend .title;
  }

  .swal2-content{
    margin-bottom: 1em;
    color: $darkTextColor;
    font-family: $defaultFontFamily;
  }

  .swal2-actions:not(.swal2-loading) {
    button {
      @extend .button;
      border-color: $buttonTextColor !important;
      &:hover {
        border-color: $buttonTextHoverColor  !important;
      }
    }
  }

  .swal2-loading {
    button {
      border-color: $buttonTextColor !important;
      &:hover {
        border-color: $buttonTextHoverColor  !important;
      }
    }
  }

  .swal2-icon {
    &.swal2-error {
      border-color: $errorRed;
      .swal2-x-mark {
        span {
          background-color: $errorRed;
        }
      }
    }

    &.swal2-warning {
      border-color: $warningYellow;
      .swal2-icon-text{
        color: $warningYellow;
      }
    }
  }

  // .swal2-close {
  //   color: $white;

  //   &:hover {
  //     color: lighten($white, 50%);
  //   }
  // }
}